.page {
  background-color: var(--secondary-background-color);
  color: var(--secondary-font-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  min-height: 100vh;
  width: 100vw;
}

.container {
  width: 90%;
  max-width: 450px;
  min-height: calc(100vh - (52px + 1rem) - (48px + 1rem + 20px));

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  margin-bottom: calc(48px + 1rem + 20px);
}

.content {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.header {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: baseline;

  gap: 1rem;
}

.back {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: transparent;

  border: 2px solid var(--secondary-font-color);
  border-radius: var(--default-radius);

  cursor: pointer;
  transition: var(--default-transition);

  padding: 5px;
}

.back:hover {
  transform: scale(1.03);
}

.back:active {
  transform: scale(0.97);
}

.title {
  margin-bottom: 0px;
}
