.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: var(--primary-background-color);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 650px;
}
