.navbar {
  width: 100vw;
  height: 52px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-background-color);
}

.brandContainer {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 48px;
}

.brand {
  object-fit: contain;
}
