.container {
  width: 100%;
  height: 42px;

  padding: 0.75rem 3.5%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  cursor: pointer;
  transform: var(--default-transition);
}

.container:hover {
  background-color: var(--danger-color);
}

.container:last-child {
  border-radius: 0 0 calc(var(--default-radius) / 2) calc(var(--default-radius) / 2);
}

.container:first-child {
  border-radius: calc(var(--default-radius) / 2) calc(var(--default-radius) / 2) 0 0;
}

.container:only-child {
  border-radius: calc(var(--default-radius) / 2) calc(var(--default-radius) / 2) calc(var(--default-radius) / 2) calc(var(--default-radius) / 2);
}

.container:not(:last-child) {
  border-bottom: 1px solid var(--primary-background-color);
}

.name {
  font-size: 16px;
  font-weight: 500;

  color: var(--secondary-font-color);
}

.phone {
  font-size: 16px;
  font-weight: 500;

  color: var(--secondary-font-color);
}
